body {
    background-color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px:;
	padding-top: 25px;
	padding-bottom: 25px;
}

p {
    font-family: Verdana;
	font-weight: bold;
    text-align: center;
    padding: 25px 50px 75px 100px;
}

header {
    color: black;
}
 
h1 {
     color: red;
 }

 h2 {
     color: red;
 }

 h3 {
     color: red;
 }

 #index {
     color: blue;
 }
